# the user list should be a list of all declared users, separed by ','. No spaces!
USER_LIST=user
# for each user in the list, set a password. The format of each entry should be, for example
# for user 'mary' USER_mary_PASSWORD=123456secret
USER_user_PASSWORD=user
# this is the password for the rstudio user
PASSWORD=supersecret